<h1>Welcome to the Maze!</h1>
<p>Enter the maze, look around and feel free to move from room to room. Be careful that you don't get lost for then you'll never find the exit. Bwahahaah.</p>

<p><a href="/location/1-0">Enter the Maze!</a></p>
